@import "colors";

html {
    font-size: 18px;
}

body {
    background-color: $very-dark-blue-main-BG;
    color: $soft-blue;
    font: {
        family: 'Outfit', sans-serif;
        weight: 300;
    }
}

.nft-preview-card {
    background-color: $very-dark-blue-card-BG;
    border-radius: 1rem;
    margin: 3.3333rem auto;
    padding: 1.3333rem;
    width: 15.6667rem;
}

/* footer */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
