* {
  margin-top: 0;
}

html {
  font-size: 18px;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

main .nft-preview-card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 1rem;
  box-sizing: border-box;
  margin: 3.3333rem auto;
  padding: 1.3333rem;
  width: 18.3333rem;
}
@media screen and (min-width: 576px) {
  main .nft-preview-card {
    margin: 8.3333rem auto;
    padding: 1.3333rem;
    width: 19.4444rem;
  }
}
main .image-wrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  position: relative;
}
@media screen and (min-width: 576px) {
  main .image-wrapper {
    margin-bottom: 1.5rem;
  }
}
main .image-wrapper .image-equilibrium {
  display: block;
  width: 100%;
}
main .image-wrapper .image-eye-wrapper {
  align-items: center;
  background: rgba(0, 255, 255, 0.5);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
main .image-wrapper .image-eye-wrapper .image-eye {
  height: 16%;
  width: 16%;
}
main .image-wrapper:hover > .image-eye-wrapper {
  cursor: pointer;
  display: flex;
}
main .nft-title {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
@media screen and (min-width: 576px) {
  main .nft-title {
    margin-bottom: 0.8rem;
  }
}
main .nft-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
main .nft-description {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 576px) {
  main .nft-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
}
main .cost-and-time-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}
@media screen and (min-width: 576px) {
  main .cost-and-time-row {
    margin-bottom: 1.15rem;
  }
}
main .cost-and-time-row .crypto-cost {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}
main .cost-and-time-row .ethereum-img {
  bottom: 0.1rem;
  height: 1rem;
  margin: 0 0.2rem 0 0;
  position: relative;
  vertical-align: middle;
  width: 0.6111rem;
}
main .cost-and-time-row .time-remaining {
  color: hsl(215, 51%, 70%);
  font-weight: 400;
  text-align: right;
}
main .cost-and-time-row .clock-img {
  bottom: 0.1111rem;
  height: 0.9444rem;
  margin: 0 0.18rem 0 0;
  position: relative;
  vertical-align: middle;
  width: 0.9444rem;
}
main .horizontal-line {
  color: hsl(215, 32%, 27%);
  height: 1px;
  margin-bottom: 1rem;
  width: 100%;
}
main .nft-creator {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: -0.17rem;
}
@media screen and (min-width: 576px) {
  main .nft-creator {
    margin-bottom: 0.2rem;
  }
}
main .avatar-img {
  bottom: 0.1rem;
  border: solid 0.1rem;
  border-color: hsl(0, 0%, 100%);
  border-radius: 100%;
  height: 1.75rem;
  margin: 0 0.6rem 0 0;
  position: relative;
  vertical-align: middle;
  width: 1.75rem;
}
main .nft-creator-name {
  color: hsl(0, 0%, 100%);
}
main .nft-creator-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */